<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="stylesheet.css" rel="stylesheet" type="text/css">


    <title>The beauty of Beauvoir</title>
    
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>

    

function initialize() {
  var directionsDisplay;

  var directionsService = new google.maps.DirectionsService();

  directionsDisplay = new google.maps.DirectionsRenderer();

  var tesco = new google.maps.LatLng(51.538238, -0.076490);

  var home = new google.maps.LatLng(51.537722, -0.081421);

  var center = new google.maps.LatLng(51.539334, -0.080115);

  var mapOptions = {
    zoom: 16,
    center: center
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  directionsDisplay.setMap(map);

  var tescoPic = 'beautiful.png';

  var marker = new google.maps.Marker({
      position: tesco,
      map: map,
      title: 'Shitty Tesco!',
      icon: tescoPic
  });
  var tescoInfo = 'Shitty Tesco! <a href="http://haggerston-tescos.tumblr.com/">All the best at your doorstep!</a><br> Catering for generations to come.';

  var tescoWindow = new google.maps.InfoWindow({
      content: tescoInfo
  });
  google.maps.event.addListener(marker, 'click', function() {
    tescoWindow.open(map,marker);
  });

  var nicoFace = 'beauty.png';

  var markerTwo = new google.maps.Marker({
    position: home,
    map: map,
    title: 'Where I actually live!',
    icon: nicoFace
  })
  var contentString = 'Hey, visit my <a href="http://nicolearnscoding.blogspot.com" target="_blank">blog!</a>';

  var infowindow = new google.maps.InfoWindow({
      content: contentString
  });
  google.maps.event.addListener(markerTwo, 'click', function() {
    infowindow.open(map,markerTwo);
  });
}


google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    </div>
    <div id="whole_thing">
    <a href="http://en.wikipedia.org/wiki/De_Beauvoir_Town" target="_blank">
      <div id="overlay">
      
      
        <h1>So, what is Beauvoir Town?</h1>
        <p>Many grassy landscapes and mixed communities of trees, shrubs, and grasses were described as Beauvoir before the middle of the 19th century. It was strongly influenced by effects of temperature and precipitation upon tree growth, and its oversimplified assumptions resulted in a tropical savanna classification concept which resulted in it being considered as a "Heaven" formation. The common usage meaning to describe vegetation now conflicts with a simplified yet widespread climatic concept meaning. The divergence has sometimes caused areas such as extensive savannas north and south of London to be excluded from mapped savanna categories.</p>
  </div>
  </a>
</div>
    <div id="map-canvas"></div>
    </div>
    
  </body>
</html>